td {
    vertical-align:middle;
}
img {
        vertical-align:middle;
}
.information {
    padding-left: 25px;
    p{
        button{
            img{
                height: 16px; 
                width: 16px;
                }
        }
    }
}

.image {
    img{
        height: 120px; 
        width: 120px;
    }
}

button {
    width: 100px;
    margin-right: 5px;
    color: black;
}